

<div class="row">


    <div class="col-md-2">
        <a routerLink="/all"><img id="logo" src="assets/images/LogoNerve2.png" alt=""></a>
        
    </div>
    
    <div class="col-md-2 ">
        <p class="title"><b>Doctors</b> <br> See the articles</p>
    </div>
    
    
    <div class="col-md-2 ">
       <a routerLink="/allProducts">
        <p class="title"><b>Pharmacy</b> <br> Medicines and health products</p></a>
    </div>
    
    <div class="col-md-2 ">
        <p class="title"><b>Diagnostics</b> <br>Book Tests and Checkups</p>
    </div>
    
    <div class="col-md-2 ">
        <span #btnLogin class="btn btn-primary mt-3"><a routerLink="login/">Login</a>/<a routerLink="signup/" >Signup</a></span>
    </div>
    
    
    </div>
    <hr>

<router-outlet></router-outlet>
    
    
    